<footer class="t09">
    © {{ now.Format "2006"}} | <a href="{{ $.Site.Params.about.url }}">{{ $.Site.Params.about.type }}</a> | <a href="{{ $.Site.Params.contact.url }}">{{ $.Site.Params.contact.type }}</a> | <a href="{{ $.Site.Params.policy.url }}">{{ $.Site.Params.policy.type }}</a> | 
</footer>
