{{- $favicon := "/favicon.ico" -}}
{{- $icon16 := "/icons/icon-16x16.png" -}}
{{- $icon32 := "/icons/icon-32x32.png" -}}
{{- $icon144 := "/icons/icon-144x144.png" -}}
{{- $icon152 := "/icons/icon-152x152.png" -}}
{{- $icon192 := "/icons/icon-192x192.png" -}}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $style := resources.Get "css/application.scss" | resources.ExecuteAsTemplate "main.css" . | toCSS }}
  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ else }}
    {{ $style := $style | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ end }}
<meta name="msapplication-TileImage" content="{{ $icon144 | relURL }}">
  <link rel="icon" href="{{ $favicon | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $icon16 | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $icon32 | relURL }}">
  <link rel="icon" sizes="192x192" href="{{ $icon192 | relURL }}">
  <link rel="apple-touch-icon" href="{{ $icon152 | relURL }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
  {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
  {{ end -}}
  {{ partial "opengraph.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ partial "seo" . }}
  {{ partial "adsense.html" . }}
</head>
