<title>{{ .Params.emoji }} {{ with .Params.seotitle }}{{ . }}{{ else }}{{ with .Title }}{{ . }} - {{ $.Site.Title }}{{ end }}{{ end }} </title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta name="keywords" content="{{ if isset .Params "tags" }}{{ range .Params.tags }}{{ . }},{{ end }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "id-ID",
    "image" : "{{ . | absURL }}",
    "author" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "creator" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "publisher": {

      "@type": "Organization",
      "name": "{{ range .Site.Author }}{{ . }}{{ end }}",
      "logo" : {
        "@type": "ImageObject",
        "url": "{{ . | absURL }}"
      },
      "sameAs": [
        "https://facebook.com/{{ .Site.Params.social.facebook }}",
        "https://twitter.com/{{ .Site.Params.social.twitter }}",
        "https://instagram.com/{{ .Site.Params.social.instagram }}",
        "https://linkedin.com/in/{{ .Site.Params.social.linkedin }}"
      ]
    },
    "accountablePerson" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "copyrightHolder" : "{{ range .Site.Author }}{{ . }}{{ end }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": {{ .Date }},
    "dateModified" : {{ .Date }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
}
</script>
