<!-- Default Statcounter code for Halimboi https://halimboi.com -->
<script type="text/javascript">
var sc_project=12209397; 
var sc_invisible=0; 
var sc_security="2885d413"; 
var sc_https=1; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12209397/0/2885d413/0/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
