<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>

<div id="vcomment"></div>
    <script>
        new Valine({
            el: '#vcomment' ,
            appId: 'PG0F5m9aBkT5dll3lCUlXwJk-MdYXbMMI',
            appKey: 'Qcwl0weaeBK5IkhE78b8tc5k' ,
            lang: 'en' ,
            avatar: 'mm' ,
            placeholder: 'Leave comment here...'
        });
    </script>
