{{ define "main" }}
  <div class="main">
    <div class="list journal">
    {{ $paginator := (.Paginate (where .Site.RegularPages "Type" "posts") 9) }}
    {{ range $index, $post := $paginator.Pages }}
      {{ partial "post.html" (dict "post" $post "index" $index "ctx" $)}}
    {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
