:root {
  --serif-font: "{{ .Site.Params.bodyFont }}", serif;
  --title-font: "{{ .Site.Params.titleFont }}", var(--serif-font);
  --sans-serif-font: "{{ .Site.Params.sansSerifFont }}", sans-serif;
  --onyx: #17181E;
  --accent: {{ .Site.Params.accentColor }};
  --white-text: #FAFAFA;
  --white-background: #F3F3F3;
  --max-width: 74rem;
  --light-gray: rgba(0,0,0,0.3)
}

@import url('https://fonts.googleapis.com/css?display=swap&family={{ replace .Site.Params.titleFont " " "+" }}');
@import url('https://fonts.googleapis.com/css?display=swap&family={{ replace .Site.Params.bodyFont " " "+" }}:400,400i,600');
@import url('https://fonts.googleapis.com/css?display=swap&family={{ replace .Site.Params.sansSerifFont " " "+" }}');
@import "helpers";
@import "form";
@import "main_header";
@import "burger";
@import "hero_header";
@import "three";
@import "photos";
@import "journal";
@import "navigation";
@import "love";

/* Webkit Scrollbar Customize */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #2c3e50;
}

::-webkit-scrollbar-thumb {
  background: #888;

  &:hover {
    background: #7d828a;
  }
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

hr {
  border: 0;
  text-align: center;
  &::after {
    content: "•••";
    font-size: 2rem;
    text-align: center;
    color: var(--onyx);
    width: 100%;
  }
}

pre,
code,
pre tt {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC", "Microsoft YaHei";
}

pre {
  padding: .7em 1.1em;
  overflow: auto;
  font-size: .9em;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  color: #eee;
  background: var(--onyx);
  border-radius: 4px;
  // -webkit-overflow-scrolling: touch;
}

svg {
  fill: var(--onyx);
}

body {
  height: 100%;
  color: var(--onyx);
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family:  var(--serif-font);
  text-rendering: optimizeLegibility;
  line-height: 1.62;
}

a {
  color: var(--accent);
  text-decoration: none;
  position: relative;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, var(--accent) 2px, var(--accent) 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
  &:hover {
    color: var(--accent);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    background-image: linear-gradient(to top, transparent, transparent 2px, var(--accent) 2px, var(--accent) 2.5px, transparent 2.5px);
  }
}

h1.large {
  font-size: 3.7rem;
}
h1 {
  font-size: 2.8rem;
}
h1.small {
  font-size: 1.9rem;
  text-transform: capitalize;
}
h2.small {
  font-size: 1.6rem;
  text-transform: capitalize;
}
h2, h1.medium {
  font-size: 2.9rem;
  font-weight: normal;
  text-transform: capitalize;
}
h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
}
h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
h5 {
  font-size: 1.6rem;
}
.post h2 {
  font-size: 1.6rem;
  text-transform: normal;
  margin: 20px 10px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-family: var(--title-font);
}
.title {
  font-family: var(--title-font);
}

.date, .main_menu, footer{
  font-family:  var(--sans-serif-font);
}

header {
  text-align: center;
}

footer {
  font-weight: 100;
  text-align: center;
  position: relative;
  height: 50px;
  background-color: var(--onyx);
  color: var(--white-text);
  line-height: 50px;
  clear:both;
  a, a:visited, a:hover {
    color: var(--white-text);
    padding-bottom: 2px;
    text-shadow: -1px -1px 0 var(--onyx), 1px -1px 0 var(--onyx), -1px 1px 0 var(--onyx), 1px 1px 0 var(--onyx);
    background-image: linear-gradient(to top, transparent, transparent 2px, #f8f8f8 2px, #f8f8f8 2.5px, transparent 2.5px);
  }
}

blockquote {
  font-family: var(--title-font);
  font-style: italic;
  font-size: 1.3rem;
  border-left: 3px solid var(--accent);
  padding-left: 20px;
  margin-left: -23px;
}

b {
  font-weight: 400;
}

p.en {
  text-align: center;
  font-style: italic !important;
  color: #666;
}

p {
}
img {
  width: 100%;
}

/* Main wrapper */
.wrapper {
  min-height: 100%;
  height: auto;
}

.main_menu {
  font-weight: 100;
  font-size: 0.8rem;
  text-align: center;
}
.site-title {
  @media only screen and (max-width: 667px) {
    display: none;
  }
  @media only screen and (min-width: 1000px) {
    color: var(--white-text);
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.main {

  width: 100%;
  padding-bottom: 50px;

  margin: 0;

  @media only screen and (max-width: 812px) {
    &:not(.post) {
      padding-top: 4.9rem;
    }
    > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  @media only screen and (min-width: 812px) {
    &:not(.post) {
      padding-top: 5rem;
    }

    .fullwidth, .fullwidth img {
      width: 100% !important;
      margin-left: 0;
      margin-right: 0;
    }

    > :not(.fullwidth) {
      max-width: var(--max-width);
      margin-left: auto;
      margin-right: auto;
    }

    > .vertical {
      max-width: 37rem;
    }

    p, pre, blockquote, ul, ol, .micropost {
      max-width: 45rem !important;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  .micropost:first-child {
    .date {
      border-top: 0 !important;
    }
  }
  .micropost {
    .date {
      text-align: left;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      border-top: 1px solid rgba(0,0,0,0.1);
      display: block;
      color: rgba(0,0,0,0.3);
      padding-bottom: 1rem;
      padding-top: 2rem;
      @media only screen and (min-width: 1000px) {
        margin-left: -4rem;
        margin-right: -4rem;
      }
    }
    margin: 30px auto;
    p { margin: 10px 0 20px 0;}
    a {
      font-style: normal;
      font-weight: 600;
    }
  }
}
